@font-face {
    font-family: "hero";
    src: url("./fonts/hero.ttf");
}

@font-face {
    font-family: "moderna";
    src: url("./fonts/moderna_.ttf");
}

@font-face {
    font-family: "modernaLight";
    src: url("./fonts/Moderna\ W01\ Light.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #00d100;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

nav div {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
}

nav {
    border-bottom: 1px solid rgba(128, 128, 128, 0.573);
}

.navLogo {
    height: 70px;
    object-fit: contain;
    margin: 15px;
    margin-right: 60px;
}

.navItems {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.mobileNavItems a,
.navItems a {
    color: black;
    font-family: moderna;
    font-size: 23px;
    font-weight: normal;
    font-style: normal;
}

.mobileNavItems {
    display: none;
    margin: 50px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.mobileNavItems a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.403);
    margin: 10px auto;
}

.mobileNavItems a:last-child {
    border-bottom: 1px solid black;
}

.buyNow {
    border: 1px solid black;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 20px;
    width: 120px;
    text-align: center;
}

.altIcon,
.xIcon {
    color: black;
    height: 50px;
    display: none;
}

.heroParent {
    display: flex;
    align-items: center;
    justify-content: center;   
}

.heroSection {
    min-height: 90vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroImgBg {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: .15;
    object-fit: cover;
}

.heroContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    gap: 20px;
}

.heroDesc {
    color: black;
    font-size: 25px;
    font-family: modernaLight;
    font-weight: normal;
    max-width: 700px;
    width: 95%;
    margin: auto;
    text-align: center;
}

.heroLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.heroLinks a img {
    height: 90px;
}

.heroTokens {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: auto;
}

.heroTokens div {
    border: 1px solid white;
    padding: 5px 20px;
    border-radius: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.heroTokens div p {
    color: black;
    font-family: moderna;
    font-size: 25px;
}

.lineBreaker {
    width: 100vw;
    background: white;
    height: 10px;
    margin: 50px auto;
}

.aboutSection {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.aboutTexts h1 {
    color: black;
    font-family: hero;
    font-size: 80px;
    text-align: center;
}

.aboutTexts p {
    color: black;
    font-family: modernaLight;
    font-size: 23px;
    max-width: 500px;
    font-weight: 500;
}

.aboutImg {
    height: 700px;
    object-fit: contain;
}

.howToBuy {
    padding: 5px;
}

.howToBuyHeader {
    text-align: center;
    font-size: 70px;
    font-family: hero;
    color: black;
}


.buyCont, .tokenBg {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #00000089;
    border: 2px solid white;
    padding: 20px;
    gap: 10px;
    max-width: 1000px;
    border-radius: 10px;
    margin: 20px auto;
}

.buyCont img {
    height: 120px
}
.lastBuyContImg {
    width: 120px;
}
.buyCont div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 10px;
    flex: 1;
}

.buyCont div h1 {
    font-family: hero;
    font-size: 32px;
    letter-spacing: 2px;
}

.buyCont div p {
    font-family: modernaLight;
    font-size: 18px;
    word-wrap: break-word;
}
.tokenomicsSection {
    padding: 10px;
}
.tokenomicsSection .headerr {
    font-size: 80px;
    font-family: hero;
    color: black;
    text-align: center;
}

.tokenomicsParent {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
}

.tokenSupply {
    color: black;
    font-family: moderna;
    font-size: 30px;
    text-align: center;
}
.tokenBg {
    max-width: 600px;
}
.tokenBg p {
    font-family: modernaLight;
    font-size: 20px;
}

.tokenomicImg {
    height: 400px;
}

.listingss {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.listingss p {
    color: black;
    font-size: 25px;
    text-align: center;
}

.roadmapSection {
    max-width: 1100px;
    margin: auto;
}


.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.tokenBuyNow {
    background: #000;
    color: white;
    padding: 20px 50px;
    border-radius: 20px;
    font-size: 20px;
    width: 200px;
    text-align: center;
    margin: auto;
}

.roadmapSection .headerr {
    color: black;
    font-family: hero;
    font-size: 80px;
    text-align: center;
}

.roadmapSection .firstCont {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.roadImg {
    height: 200px;
}

.secondCont {
    display: flex;
    align-items: center;
    justify-content: center;
}

.roadDesc, .phases {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: #00000089;
    border: 2px solid white;
    padding: 30px 20px;
    gap: 5px;
    max-width: 300px;
    border-radius: 10px;
    margin: 20px auto;
}

.phases h1 {
    font-family: hero;
    font-size: 40px;
    letter-spacing: 3px;
}

.roadmapSection li {
    font-family: modernaLight;
    font-size: 17px;
    text-align: left;
    margin: 5px 10px;
}

.joker {
    color: black;
    font-family: modernaLight;
    font-size: 18px;
    text-align: center;
}

.contactSection {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.contactSection .headerr {
    font-family: hero;
    font-size: 90px;
    color: black;
    text-align: center;
}

.contactSection img {
    height: 100px;
}

.contactImgs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.contextText {
    color: black;
    font-family: modernaLight;
    font-size: 16px;
    text-align: center;
    max-width: 800px;
    margin: 50px auto;
}

footer {
    background: green;
    width: 100vw;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    color: white;
    font-family: modernaLight;
    font-size: 12px;
}


/* MEDIA QUERIES */
@media (max-width: 1170px) {
    
    body {
        overflow-y: scroll;
        overflow-x: hidden;
        width: 100vw;
    }

    section,
    div,
    footer {
        overflow: hidden !important;
    }

    .navItems {
        display: none;
    }

    nav div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
    }

    .altIcon {
        display: block;
    }

    .heroParent {
        flex-direction: column;
    }

    .heroTokens div {
        width: 140px;
    }
    .heroTokens div:last-child {
        width: 200px;
    }
    .contextText, .joker, .aboutTexts p {
        font-size: 18px;
        text-align: center;
        width: 90%;
        margin: auto;
    }
    .contextText {
        margin: 30px auto;
    }
    .aboutSection {
        flex-direction: column;
    }
    .tokenomicsParent {
        flex-direction: column;
    } 
    .listingss {
        margin: auto;
    }
    .roadmapSection .firstCont {
        flex-direction: column;
    }
    .secondCont {
        flex-direction: column;   
    }
    .buyCont {
        flex-direction: column;
    }
    .buyCont p {
        font-size: 16px;
    }
    .tokenomicsSection .headerr {
        font-size: 60px;
    }
    .heroLinks a img {
        height: 65px;
    }
    .tokenSupply {
        font-size: 25px;
    }

}